// @name Header
// @description All header styles

header {
    border-bottom: 1px solid #edefee;
    padding: ($spacer * 2) 0;
    margin-bottom: ($spacer * 2);

    @media(min-width: 640px) {
        padding: ($spacer * 10) 0 ($spacer * 3);
        margin-bottom: ($spacer * 3);
    }
}

.intro {
    margin-bottom: ($spacer * 2);

    &__pre, &__post {
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    &__main {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.8rem;
        font-style: italic;
        text-align: justify;
        text-justify: inter-word;
        line-height: 1.2;
        font-weight: normal;
        margin: 10px 0 20px;
    }
}

.social {
    a {
        margin-right: $spacer;
    }
}
