---
layout: default
---

<div class="home">


  {% for post in paginator.posts%}
  <div class="post postContent">
    <div  class="postDate"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
    </div>
    <div class="postDay">
      {{post.tag}}
    </div>
    <br>
    <div class="postTitle">
    <a class='postLink' href="{{site.url}}{{post.url}}">{{post.title}}</a>
    </div>
    <div class="postExt">
   {{ post.excerpt }}
    </div>
  </div>


  {% endfor %}
  
  <!-- Pagination links -->
<div class="pagination" style="margin-top: 50px; text-align: center;">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous" style="opacity: 0.15;">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next " style="opacity: 0.15;">Next</span>
  {% endif %}
</div>

</div>
